.header-section {
    background-image: url(./images/Luxury-Pool.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
  }

 

  .header-text {
  
    color: white;
    text-align: center;
  }

.top-text{
    padding-top: 100px;
    font-size: 12px !important;

}

.middle-text{
    margin-top: 40px;
    font-size: 45px !important;
    
}

.bottom-text{
    font-size: 30px;
}
  @media (max-width: 768px) {
    .header-section {
      height: 300px;
    }
  }